In [1]:
# Importing libraries and date

import pandas as pd
pd.set_option("display.max_columns",None)
df = pd.read_csv("Airbnb_Open_Data.csv")
import numpy as np

C:\Users\Mohamed\AppData\Local\Temp\ipykernel_13940\508486247.py:3: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("Airbnb_Open_Data.csv")

In [2]:
# Take a samole of a data

df.sample(10)

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,country code,instant_bookable,cancellation_policy,room type,Construction year,price,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
91279,51414728,Sun-Filled Apartment in Bushwick,63009103410,unconfirmed,Karen,Brooklyn,Bushwick,40.69864,-73.92827,United States,US,True,strict,Entire home/apt,2003.0,$81,$16,6.0,2.0,7/24/2017,0.08,1.0,1.0,34.0,1. No damage to the house or furniture 2. No S...,NaN
32851,19144943,Cozy & Beautiful Room in Astoria for all seasons,8722573930,verified,Mars,Queens,Ditmars Steinway,40.77816,-73.91002,United States,US,False,strict,Private room,2003.0,$756,$151,2.0,41.0,5/27/2019,3.18,4.0,1.0,15.0,#NAME?,NaN
29741,17427290,Private Bed in Queer Co-Living Space for Men,25776905516,verified,Marco,Brooklyn,Greenpoint,40.72522,-73.95184,United States,US,True,moderate,Private room,2010.0,$936,$187,3.0,7.0,6/8/2019,0.40,2.0,5.0,285.0,Common sense rules. No smoking indoors. Be cou...,NaN
64491,36619715,Pet-Friendly UES One Bedroom,43751879375,verified,Ken,Manhattan,Upper East Side,40.77500,-73.94999,United States,US,True,flexible,Entire home/apt,2019.0,$514,$103,30.0,1.0,8/15/2021,0.15,5.0,86.0,300.0,NaN,NaN
21534,12894564,"East Village, private room with free breakfast",24597410508,unconfirmed,Adi And Evangel,Manhattan,East Village,40.72598,-73.98856,United States,US,False,flexible,Private room,2007.0,$909,$182,1.0,25.0,5/26/2019,0.88,4.0,2.0,329.0,"No smoking inside. Since I have a dog, there a...",NaN
24540,14554778,Beautiful Modern Brooklyn Gem,30551378358,verified,Kevin,Brooklyn,East Flatbush,40.65430,-73.91488,United States,US,False,strict,Entire home/apt,2003.0,$482,$96,1.0,183.0,7/8/2019,7.65,3.0,1.0,120.0,Please remember that this is a residential bui...,NaN
85003,47948493,Convenient Apt w/ private bathroom!,52080795474,unconfirmed,Weiyi,Manhattan,Upper West Side,40.79546,-73.96452,United States,US,False,strict,Private room,2004.0,"$1,137",$227,3.0,2.0,8/6/2016,0.05,2.0,1.0,37.0,NaN,NaN
43709,25141817,The Sweet Spot 2- Private Apt with a court yard,65196989483,verified,Joe,Manhattan,Harlem,40.82730,-73.94952,United States,US,True,flexible,Private room,2007.0,$815,$163,2.0,4.0,6/2/2019,1.94,3.0,2.0,76.0,NaN,NaN
61151,34775033,Beautiful Private Room with King Bed,47208775820,unconfirmed,Chii,Manhattan,Harlem,40.82202,-73.95601,United States,US,True,strict,Private room,2015.0,$942,$188,2.0,3.0,12/15/2021,0.59,5.0,2.0,365.0,NaN,NaN
8743,5830095,Large one bedroom,69974309980,unconfirmed,Kevin,Manhattan,Upper East Side,40.76700,-73.95456,United States,US,False,moderate,Private room,2021.0,$763,$153,1.0,0.0,NaN,NaN,3.0,1.0,112.0,- No Smoking In the House. There is a back po...,NaN

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102599 entries, 0 to 102598
Data columns (total 26 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   id                              102599 non-null  int64
 1   NAME                            102349 non-null  object
 2   host id                         102599 non-null  int64
 3   host_identity_verified          102310 non-null  object
 4   host name                       102193 non-null  object
 5   neighbourhood group             102570 non-null  object
 6   neighbourhood                   102583 non-null  object
 7   lat                             102591 non-null  float64
 8   long                            102591 non-null  float64
 9   country                         102067 non-null  object
 10  country code                    102468 non-null  object
 11  instant_bookable                102494 non-null  object
 12  cancellation_policy             102523 non-null  object
 13  room type                       102599 non-null  object
 14  Construction year               102385 non-null  float64
 15  price                           102352 non-null  object
 16  service fee                     102326 non-null  object
 17  minimum nights                  102190 non-null  float64
 18  number of reviews               102416 non-null  float64
 19  last review                     86706 non-null   object
 20  reviews per month               86720 non-null   float64
 21  review rate number              102273 non-null  float64
 22  calculated host listings count  102280 non-null  float64
 23  availability 365                102151 non-null  float64
 24  house_rules                     50468 non-null   object
 25  license                         2 non-null       object
dtypes: float64(9), int64(2), object(15)
memory usage: 20.4+ MB

# The columns i will modify on are :-

- "host_identity_verified"
- "country"
- "price"
- "service fee"
- "last review"

In [4]:
df["host_identity_verified"].unique()

array(['unconfirmed', 'verified', nan], dtype=object)

In [5]:
# Changing the column "host_identity_verified" values

df["host_identity_verified"] = df["host_identity_verified"].str.replace("unconfirmed","NO")
df["host_identity_verified"] = df["host_identity_verified"].str.replace("verified","YES")
df["host_identity_verified"] = df["host_identity_verified"].fillna("")

In [6]:
# Drop country "column" cause it is useless we have "counrty code" column

df = df.drop(columns="country")

In [7]:
df["Construction year"].unique()

array([2020., 2007., 2005., 2009., 2013., 2015., 2004., 2008., 2010.,
       2019., 2018., 2006., 2016., 2017., 2021., 2003., 2011., 2012.,
       2022., 2014.,   nan])

In [8]:
# Changing the type of the "Construction year" column to be numerical

df['Construction year'] = df['Construction year'].replace([np.nan, np.inf, -np.inf], np.nan).fillna(0).astype(int)

In [9]:
df['Construction year'].unique()

array([2020, 2007, 2005, 2009, 2013, 2015, 2004, 2008, 2010, 2019, 2018,
       2006, 2016, 2017, 2021, 2003, 2011, 2012, 2022, 2014,    0])

In [10]:
df["price"].unique()

array(['$966 ', '$142 ', '$620 ', ..., '$1,184 ', '$905 ', '$309 '],
      dtype=object)

In [11]:
# Changing the type of the "price" column to be numerical


df["price"] = df["price"].str.replace("$","")
df["price"] = df["price"].str.replace(",","")
df["price"] = df["price"].astype(float)

C:\Users\Mohamed\AppData\Local\Temp\ipykernel_13940\3947281612.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df["price"] = df["price"].str.replace("$","")

In [12]:
df["price"].unique()

array([ 966.,  142.,  620., ..., 1184.,  905.,  309.])

In [13]:
df["service fee"].unique()

array(['$193 ', '$28 ', '$124 ', '$74 ', '$41 ', '$115 ', '$14 ', '$212 ',
       '$204 ', '$58 ', '$64 ', '$121 ', '$143 ', '$116 ', '$30 ', nan,
       '$56 ', '$95 ', '$27 ', '$210 ', '$163 ', '$235 ', '$106 ', '$55 ',
       '$42 ', '$86 ', '$133 ', '$154 ', '$102 ', '$172 ', '$109 ',
       '$38 ', '$222 ', '$219 ', '$202 ', '$113 ', '$137 ', '$171 ',
       '$12 ', '$87 ', '$183 ', '$92 ', '$73 ', '$146 ', '$180 ', '$67 ',
       '$51 ', '$181 ', '$88 ', '$205 ', '$132 ', '$59 ', '$156 ',
       '$131 ', '$61 ', '$165 ', '$129 ', '$207 ', '$17 ', '$63 ',
       '$147 ', '$105 ', '$48 ', '$114 ', '$80 ', '$23 ', '$11 ', '$149 ',
       '$213 ', '$211 ', '$182 ', '$117 ', '$39 ', '$25 ', '$216 ',
       '$53 ', '$10 ', '$118 ', '$72 ', '$76 ', '$69 ', '$32 ', '$148 ',
       '$101 ', '$177 ', '$49 ', '$100 ', '$168 ', '$13 ', '$152 ',
       '$126 ', '$135 ', '$46 ', '$231 ', '$91 ', '$199 ', '$158 ',
       '$221 ', '$189 ', '$90 ', '$186 ', '$66 ', '$225 ', '$220 ',
       '$19 ', '$238 ', '$119 ', '$98 ', '$34 ', '$227 ', '$162 ',
       '$203 ', '$93 ', '$153 ', '$71 ', '$77 ', '$190 ', '$75 ', '$185 ',
       '$97 ', '$35 ', '$37 ', '$82 ', '$120 ', '$21 ', '$145 ', '$65 ',
       '$144 ', '$108 ', '$194 ', '$16 ', '$217 ', '$188 ', '$81 ',
       '$139 ', '$22 ', '$187 ', '$150 ', '$50 ', '$176 ', '$151 ',
       '$26 ', '$89 ', '$218 ', '$104 ', '$44 ', '$79 ', '$240 ', '$175 ',
       '$192 ', '$215 ', '$191 ', '$94 ', '$206 ', '$157 ', '$159 ',
       '$233 ', '$15 ', '$229 ', '$179 ', '$85 ', '$136 ', '$170 ',
       '$201 ', '$141 ', '$123 ', '$36 ', '$130 ', '$198 ', '$54 ',
       '$122 ', '$184 ', '$208 ', '$140 ', '$68 ', '$196 ', '$70 ',
       '$228 ', '$209 ', '$230 ', '$134 ', '$20 ', '$110 ', '$234 ',
       '$107 ', '$138 ', '$45 ', '$24 ', '$31 ', '$29 ', '$232 ', '$47 ',
       '$239 ', '$161 ', '$200 ', '$33 ', '$103 ', '$83 ', '$128 ',
       '$166 ', '$125 ', '$43 ', '$18 ', '$167 ', '$174 ', '$236 ',
       '$111 ', '$142 ', '$223 ', '$169 ', '$178 ', '$195 ', '$40 ',
       '$52 ', '$96 ', '$224 ', '$197 ', '$164 ', '$127 ', '$62 ', '$99 ',
       '$84 ', '$237 ', '$155 ', '$57 ', '$226 ', '$160 ', '$173 ',
       '$60 ', '$214 ', '$78 ', '$112 '], dtype=object)

In [14]:
# Changing the type of the "service fee" column to be numerical

df["service fee"] = df["service fee"].str.replace("$","")
df["service fee"] = df["service fee"].astype(float)

C:\Users\Mohamed\AppData\Local\Temp\ipykernel_13940\2454734879.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df["service fee"] = df["service fee"].str.replace("$","")

In [15]:
df["service fee"].unique()

array([193.,  28., 124.,  74.,  41., 115.,  14., 212., 204.,  58.,  64.,
       121., 143., 116.,  30.,  nan,  56.,  95.,  27., 210., 163., 235.,
       106.,  55.,  42.,  86., 133., 154., 102., 172., 109.,  38., 222.,
       219., 202., 113., 137., 171.,  12.,  87., 183.,  92.,  73., 146.,
       180.,  67.,  51., 181.,  88., 205., 132.,  59., 156., 131.,  61.,
       165., 129., 207.,  17.,  63., 147., 105.,  48., 114.,  80.,  23.,
        11., 149., 213., 211., 182., 117.,  39.,  25., 216.,  53.,  10.,
       118.,  72.,  76.,  69.,  32., 148., 101., 177.,  49., 100., 168.,
        13., 152., 126., 135.,  46., 231.,  91., 199., 158., 221., 189.,
        90., 186.,  66., 225., 220.,  19., 238., 119.,  98.,  34., 227.,
       162., 203.,  93., 153.,  71.,  77., 190.,  75., 185.,  97.,  35.,
        37.,  82., 120.,  21., 145.,  65., 144., 108., 194.,  16., 217.,
       188.,  81., 139.,  22., 187., 150.,  50., 176., 151.,  26.,  89.,
       218., 104.,  44.,  79., 240., 175., 192., 215., 191.,  94., 206.,
       157., 159., 233.,  15., 229., 179.,  85., 136., 170., 201., 141.,
       123.,  36., 130., 198.,  54., 122., 184., 208., 140.,  68., 196.,
        70., 228., 209., 230., 134.,  20., 110., 234., 107., 138.,  45.,
        24.,  31.,  29., 232.,  47., 239., 161., 200.,  33., 103.,  83.,
       128., 166., 125.,  43.,  18., 167., 174., 236., 111., 142., 223.,
       169., 178., 195.,  40.,  52.,  96., 224., 197., 164., 127.,  62.,
        99.,  84., 237., 155.,  57., 226., 160., 173.,  60., 214.,  78.,
       112.])

In [16]:
# Changing the type of the "last review" column to be date

df['last review'] = pd.to_datetime(df['last review'])

In [17]:
# Changing the name of the columns to be the first letter upper

df.columns = df.columns.str.title()

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102599 entries, 0 to 102598
Data columns (total 25 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   Id                              102599 non-null  int64
 1   Name                            102349 non-null  object
 2   Host Id                         102599 non-null  int64
 3   Host_Identity_Verified          102599 non-null  object
 4   Host Name                       102193 non-null  object
 5   Neighbourhood Group             102570 non-null  object
 6   Neighbourhood                   102583 non-null  object
 7   Lat                             102591 non-null  float64
 8   Long                            102591 non-null  float64
 9   Country Code                    102468 non-null  object
 10  Instant_Bookable                102494 non-null  object
 11  Cancellation_Policy             102523 non-null  object
 12  Room Type                       102599 non-null  object
 13  Construction Year               102599 non-null  int32
 14  Price                           102352 non-null  float64
 15  Service Fee                     102326 non-null  float64
 16  Minimum Nights                  102190 non-null  float64
 17  Number Of Reviews               102416 non-null  float64
 18  Last Review                     86706 non-null   datetime64[ns]
 19  Reviews Per Month               86720 non-null   float64
 20  Review Rate Number              102273 non-null  float64
 21  Calculated Host Listings Count  102280 non-null  float64
 22  Availability 365                102151 non-null  float64
 23  House_Rules                     50468 non-null   object
 24  License                         2 non-null       object
dtypes: datetime64[ns](1), float64(10), int32(1), int64(2), object(11)
memory usage: 19.2+ MB

In [19]:
df

,Id,Name,Host Id,Host_Identity_Verified,Host Name,Neighbourhood Group,Neighbourhood,Lat,Long,Country Code,Instant_Bookable,Cancellation_Policy,Room Type,Construction Year,Price,Service Fee,Minimum Nights,Number Of Reviews,Last Review,Reviews Per Month,Review Rate Number,Calculated Host Listings Count,Availability 365,House_Rules,License
0,1001254,Clean & quiet apt home by the park,80014485718,NO,Madaline,Brooklyn,Kensington,40.64749,-73.97237,US,False,strict,Private room,2020,966.0,193.0,10.0,9.0,2021-10-19,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,YES,Jenna,Manhattan,Midtown,40.75362,-73.98377,US,False,moderate,Entire home/apt,2007,142.0,28.0,30.0,45.0,2022-05-21,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,,Elise,Manhattan,Harlem,40.80902,-73.94190,US,True,flexible,Private room,2005,620.0,124.0,3.0,0.0,NaT,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN
3,1002755,NaN,85098326012,NO,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,US,True,moderate,Entire home/apt,2005,368.0,74.0,30.0,270.0,2019-07-05,4.64,4.0,1.0,322.0,NaN,NaN
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,YES,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,US,False,moderate,Entire home/apt,2009,204.0,41.0,10.0,9.0,2018-11-19,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102594,6092437,Spare room in Williamsburg,12312296767,YES,Krik,Brooklyn,Williamsburg,40.70862,-73.94651,US,False,flexible,Private room,2003,844.0,169.0,1.0,0.0,NaT,NaN,3.0,1.0,227.0,No Smoking No Parties or Events of any kind Pl...,NaN
102595,6092990,Best Location near Columbia U,77864383453,NO,Mifan,Manhattan,Morningside Heights,40.80460,-73.96545,US,True,moderate,Private room,2016,837.0,167.0,1.0,1.0,2015-07-06,0.02,2.0,2.0,395.0,House rules: Guests agree to the following ter...,NaN
102596,6093542,"Comfy, bright room in Brooklyn",69050334417,NO,Megan,Brooklyn,Park Slope,40.67505,-73.98045,US,True,moderate,Private room,2009,988.0,198.0,3.0,0.0,NaT,NaN,5.0,1.0,342.0,NaN,NaN
102597,6094094,Big Studio-One Stop from Midtown,11160591270,NO,Christopher,Queens,Long Island City,40.74989,-73.93777,US,True,strict,Entire home/apt,2015,546.0,109.0,2.0,5.0,2015-10-11,0.10,3.0,1.0,386.0,NaN,NaN
102598,6094647,585 sf Luxury Studio,68170633372,NO,Rebecca,Manhattan,Upper West Side,40.76807,-73.98342,US,False,flexible,Entire home/apt,2010,1032.0,206.0,1.0,0.0,NaT,NaN,3.0,1.0,69.0,NaN,NaN

## I think i can not deal with "Name" and "House_Rules" columns depending on my knowledge

# That is it..Thanks